<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/plugins.js"></script>
<!-- endbuild -->
<script src="/socket.io/socket.io.js"></script>
</body>
</html>
