<% include partials/header.ejs %>
<div class="container">
	<h1 class="title">Sword &amp; Sorcery</h1>
	<div id="SAS">
		<div class="login_page">
			<p>Blabla bienvenu, blabla règle</p>
			<form action="#">
				<label for="username">Votre pseudo</label>
				<input type="text" id="username" class="input_field">
			</form>
		</div>
		<div class="game_board">
			Cà va être d'enfer !!!
		</div>
	</div>
</div>
<% include partials/footer.ejs%>
